* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

main {
  width:960px;
  margin:50px auto;
  display:flex;
  
}

.step-box {
  width:300px;
  background-color:#EEEEEE;
  padding:10px;
  position: relative;
  margin-right:30px;
}

.step-box:last-child {
  margin-right:0;
}

.step-img1 {
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-img2 {
  background-image:url(img/flow02.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-img3 {
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-number {
 position:absolute;
 top:0;
 left:0;
 background-color:orange;
 color:#fff;
}

.step-title {
  margin:15px 0 5px 0;
}

footer {
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}

@media screen and (max-width: 768px) {
  header {
    width:100%;
  }

  main {
    width:100%;
    padding:50px 0;
    margin:0 auto;
    display: block;
  }

  .step-box {
    width:90%;
    margin:0 auto;
    margin-bottom:20px;
  }

  .step-box:last-child {
    margin-bottom:0;
    margin:0 auto;
  }

  footer {
    width:100%;
  }
}
