* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  width:500px;
  height:500px;
  background-color:chartreuse;
  border:3px solid pink;
  margin:100px;
  padding:100px;
}

.box2 {
  width:100px;
  height:100px;
  background-color:cadetblue;
}

.box3 {
  width:20px;
  height:20px;
  background-color:purple;
}