* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width:960px;
  margin:50px auto;
}

.list-box {
  padding:20px;
}

.list-box:nth-child(odd) {
  background-color:gray;
}

main {
  width:960px;
  margin:0 auto;
  margin-bottom:50px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width:30%;
  height:200px;
  background-color:yellow;
  margin-right:5%;
  margin-bottom:40px;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  margin-right:0px;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  margin-bottom:0px;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color:orange;
}

